<!DOCTYPE html>
<html lang='zh-CN'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>

<body>
    <!-- v-model 双向绑定 - 用户需要填写 点击 选择 这些操作使用双向绑定 在表单元素中一般使用的双向绑定较多
         v-bind  属性绑定(单向绑定) 类名 索引 自定义属性 
    -->
    <div id='app'>
        <input type="text" v-model="msg"> {{msg}}
        <hr>
        <textarea cols="20" rows="3" v-model="msg1"></textarea> {{msg1}}
        <hr>
        <input type="radio" v-model="gender" value="男">男
        <input type="radio" v-model="gender" value="女">女 {{gender}}
        <hr>
        <!-- 复选框 单个情况  单个复选框，绑定到布尔值：-->
        <input type="checkbox" v-model="check1"> {{check1}}
        <hr>
        <!-- 复选框 多个复选框，绑定到数组：-->
        <input type="checkbox" v-model="hobby" value="抽烟">抽烟
        <input type="checkbox" v-model="hobby" value="喝酒">喝酒
        <input type="checkbox" v-model="hobby" value="烫头">烫头 {{hobby}}
        <hr>
        <!-- 下拉列表  选中单个绑定到option项具体的值 -->
        <select v-model="language">
            <option value="汉语">汉语</option>
            <option value="日语">日语</option>
            <option value="英语">英语</option>
            <option value="韩语">韩语</option>
        </select> {{language}}
        <hr>
        <!-- 下拉列表  选中多个绑定数组, option项具体的值会存到数组中 multiple多选属性-->
        <select v-model="language2" multiple>
            <option value="1">泰语</option>
            <option value="2">英语</option>
            <option value="3">日语</option>
            <option value="4">韩语</option>
        </select>
        {{language2}}
        <hr>
    </div>
    <script src='../js/vue.js'></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: "文本框双向绑定~",
                msg1: '文本域双向绑定',
                gender: '男',
                check1: '',
                //hobby 必须设置成数组
                hobby: [],
                language: '汉语',
                language2: '',
            },
            methods: {},
        })
    </script>
</body>

</html>