<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style type="text/css">
        .grid {
            margin: auto;
            width: 530px;
            text-align: center;
        }

        .grid table {
            border-top: 1px solid #c2d89a;
            width: 100%;
            border-collapse: collapse;
        }

        .grid th,
        td {
            padding: 10;
            border: 1px dashed #f3dcab;
            height: 35px;
            line-height: 35px;
        }

        .grid th {
            background-color: #f3dcab;
        }

        .grid .book {
            padding-bottom: 10px;
            padding-top: 5px;
            background-color: #f3dcab;
        }

        .grid .total {
            height: 30px;
            line-height: 30px;
            background-color: #f3dcab;
            border-top: 1px solid #c2d89a;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id"> 编号： </label>
                        <input type="text" id="id" v-model="id" disabled />
                        <label for="name"> 名称： </label>
                        <input type="text" id="name" autocomplete="off" v-model="name" v-focus />
                        <button @click="handler" :disabled="isSubmit">提交</button>
                    </div>
                </div>
            </div>
            <div class="total">
                <span>图书总数：</span><span>{{books.length}}</span>计算属性:
                {{count}}
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in books" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.date | dateformat('yyyy-MM-DD hh:mm:ss')}}</td>
                        <td>
                            <a href="#" @click.prevent="toEdit(item.id)">修改</a> |
                            <a href="#" @click.prevent="delbook(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.js"></script>
    <script>
        // 设置基地址
        axios.defaults.baseURL = "http://localhost:3000/";
        // 设置响应拦截器
        axios.interceptors.response.use(
            function (response) {
                return response.data;
            },
            function (error) {
                return Promise.reject(error);
            }
        );
        // 自定义指令 获取焦点
        Vue.directive("focus", {
            inserted(el) {
                el.focus();
            },
        });
        // 时间过滤器
        Vue.filter("dateformat", function (val, param) {
            // console.log(val); val参数1是要过滤的数据  参数2param是用户传递的参数
            const date = new Date(val);
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();
            const h = date.getHours();
            const m = date.getMinutes();
            const s = date.getSeconds();
            // console.log(day);
            if (param == "yyyy") {
                return `${year}`;
            } else if (param == "yyyy-MM-DD") {
                return `${year}-${month}-${day}`;
            } else if (param == "yyyy-MM-DD hh:mm:ss") {
                return `${year}-${month}-${day} ${h}:${m}:${s}`;
            }
        });
        new Vue({
            el: "#app",
            data: {
                //id
                id: "",
                // 图书的name
                name: "",
                //   控制提交按钮的开关
                isSubmit: false,
                //   设置添加或编辑的开关
                isEdit: false,
                books: [],
            },
            // 计算属性
            computed: {
                count() {
                    return this.books.length;
                },
            },
            // 侦听器
            watch: {
                async name(value) {
                    const res = await axios.get('books/book/' + value)
                    this.isSubmit = res.status == 1 ? true : false
                },
            },
            // 钩子函数
            created: function () {

                this.getBooks();
            },
            methods: {
                // 单独封装获取图书的方法
                async getBooks() {
                    this.books = await axios.get("books");
                },

                // 添加图书方法
                async handler() {
                    //   非空校验
                    if (!this.name) return;
                    // 添加的业务逻辑
                    if (this.isEdit == false) {
                        const res = await axios.post("books", {
                            name: this.name
                        });
                        if (res.status == 200) {
                            this.getBooks();
                        }
                    } else {
                        // 修改的业务逻辑  id
                        const res = await axios.put('books/' + this.id, {
                            name: this.name
                        })
                        if (res.status == 200) {
                            this.getBooks();
                        }

                        this.isEdit = false;
                    }
                    // 提交完毕将表单情空  如果将置空这一步取消, 侦听器就侦听不到数据更新  需要在添加push之前做一个校验
                    this.id = this.name = "";
                },
                //   删除图书的方法
                async delbook(id) {
                    // 将删除图书的id接收  数组的截取 或者 数组的过滤
                    const res = await axios.delete('books/' + id)
                    if (res.status == 200) {
                        this.getBooks();
                    }
                },
                //   修改图书
                async toEdit(id) {
                    // 点击修改按钮 将isEdit 设置为true
                    this.isEdit = true;
                    // 根据id查询图书 是一个对象
                    const res = await axios.get("books/" + id);
                    // console.log(res);
                    this.id = res.id;
                    this.name = res.name;
                },
            },
        });
    </script>
</body>

</html>